.myNav{
    display: flex;
    background-color: rgb(9, 8, 78);
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    color: white;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
}

.getUserBtn{
    border: none;
    width: 6rem;
    height: 2rem;
    padding: 2px 10px 10px 6px;
    background-color: rgb(226, 77, 107);
    color: white;
    border-radius: 5px;
    text-align: center;
}
.getUserBtn:hover{
    background-color: crimson;
    cursor: pointer;
}